.side_bar{
  position: relative;
  z-index: 2;


  &:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/bg.jpg");
    opacity: .3;
  }

  &:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 93, 245,.2);
    z-index: -1;
    opacity: .3;
  }
}
