
.FourOhFour {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .logo{
    width: 400px;
    height: 200px;
  }


  .code {
    font-size: 144px;
    color: #5762B2;
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    user-select: none;
  }
}
